*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_div{
    width: 350px;
    height: 350px;
    background-color: hsl(0, 68%, 29%);
    margin: 50px auto;
    position: relative;

}
.child{
    background-color: blue;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 20px;
}
img{
    border-radius: 50%;
    width: 20px;
    padding: 2px;
}
#img-1{
    position: absolute;
    top: 0;
    left: .5px;
    width: 30px;
}
#img-2{
    position: absolute;
    top: 0;
    right: 1px;
    width: 30px;
}
#img-3{
    position: absolute;
    bottom:0;
    right: 1px;
    width: 30px;
}
#img-4{
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 30px;
}
.border{
    width: 200px;
    height: 20px;
    border: 2px solid rgb(240, 240, 243);
    position: absolute;
    top: 30px;
    left: 50px;
    border-radius: 50px;
}
#img-2-2{
    position: absolute;
    top: -6px;
    width: 30px;
    height: 30px;
    left: -10px;
}
#img-2-3{
    position: absolute;
    top: -6px;
    width: 30px;
    height: 30px;
    right: -5px;
}
.border_left{
    width: 20px;
    height: 180px;
    border: 2px solid rgb(240, 240, 243);
    position: absolute;
    top: 30px;
    left: 20px;
    border-radius: 50px;
    margin-top: 30px;
}
#img-2-4{
    position: absolute;
    top: -6px;
    width: 30px;
    height: 30px;
    right: -5px;
    left: -6px;
}
#img-2-5{
    position: absolute;
    top: 160px;
    left: -8px;
    width: 30px;
    height: 30px;
}
.border_right{
    width: 20px;
    height: 180px;
    border: 2px solid rgb(240, 240, 243);
    position: absolute;
    top: 30px;
    right: 20px;
    border-radius: 50px;
    margin-top: 30px;
}
#img-2-6{
    position: absolute;
    top: 160px;
    left: -6px;
    width: 30px;
    height: 30px;
}
#img-2-7{
    position: absolute;
    top: -6px;
    width: 30px;
    height: 30px;
    right: -5px;
    left: -7px;
}
.border_buttom{
    width: 200px;
    height: 20px;
    border: 2px solid rgb(240, 240, 243);
    position: absolute;
    bottom: 30px;
    left: 50px;
    border-radius: 50px;
}
.round{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(105, 94, 94);
    border-radius: 50%;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,50%);
}
#medil{
    width: 79px;
    height: 79px;
    padding: 2;
}
#black_img{
    width:20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 84px;
    left: 63px;
}
#wite_img_1{
    position: absolute;
    top: 1px;
    left: 91px;
}
#wite_img_2{
    position: absolute;
    top: 60px;
    left: 218px;
}
#wite_img_3{
    position: absolute;
    top: 183px;
    left: 136px;
}
#wite_img_4{
    position: absolute;
    top: 25px;
    left: 139px;
    width: 34px;
}
#blackkimg1{
    position: absolute;
    top: 218px;
    left: 54px;
    width: 22px;
    height: 21px;
}
#blackkimg2{
    position: absolute;
    top: 164px;
    left: 217sspx;
    width: 22px;
    height: 21px;
}